* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    letter-spacing: 1rem;
    font-size: 4rem;
}

h2 {
    color: #fff;
}

h5 {
    color: #06244B;
    text-align: center;
}

/* Navbar */
.navbar {
    background-color: #06244B;
    color: #fff;
}

#navbar .nav-link,
#navbar .navbar-brand {
    color: #fff;
}

#navbar .nav-link:hover {
    color: #0d6efd;
}

/* Change toggle button's style */
.navbar .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(13, 110, 253, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-collapse {
    text-align: center;
}


/* Main */
.main {
    background-image: url(img/solar1.jpg);
    min-height: 100vh;
    width: 100vw;
    background-size: cover;
    position: relative;
    color: #fff;
}

.color-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(6, 36, 75, 0.503);
}

#main .btn {
    color: #194280;
}

#main .btn:hover {
    color: #0d6efd;
}

/* About */
.about {
    padding: 3.75rem;
    background-color: #79a9fb;
    background-image: linear-gradient(0deg, #79a9fb 0%, #1d4f9a 33%);
}

.card {
    width: 17rem;
    text-align: center;
}

.card > img {
    max-height: 10rem;
    padding-top: 1rem;
}

.card-text {
    color: #666;    
    font-size: .8rem;
}

/* Technologies */
.tech {
    padding: 3.75rem;
    background-color: #79a9fb;
}

.img-tech {
    min-height: 10rem;
    background-size: cover;
    width: 100%;
}

.tech-text {
    max-width: 100%;
    color: #000;
    font-size: .75rem;
    text-align: justify;
}

/* Services */
.services {
    padding: 3.75rem 0;
    background-image: url("img/solar7.jpg");
    height: 100%;
    width: 100vw;;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.services-glasscard {
    border: 1px solid #fff;
    border-radius: 30px;
    padding: 3rem;
    background: rgba(255, 255, 255, .45);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 30px rgba(0,0,0, .6);
}

#services h2 {
    color: #06244B;
    text-align: center;
}

.services p {
    font-size: .75rem;
    text-align: justify;
    color: #333;
}

/* Contact */
/* Address */
.contact {
    background-color: #06244B;
    height: 45vh;
    width: 100%;
    padding: 1rem;
    color: #fff;
    font-size: .7rem;
    display: flex;
}

.contact-box {
    width: 100%;
    height: 100%;
}

.address-socials,
.newsletter {
    padding-bottom: 0.5rem;
}

.address-socials > p {
    margin: 0;
    padding: 0;
}

.social-icons {
    padding: 1rem 1rem 0 0;
}

.social-icons:hover {
    color: #0d6efd;
    cursor: pointer;
}

/* Newsletter */
.newsletter input {
    height: 1.3rem;
    width: 230px;
    font-size: 0.7rem;
    padding: 0;
}

.newsletter .btn {
    font-size: .8rem;
    padding: .2rem .5rem;
}

/* Footer */
footer {
    background-color: #06244B;
    color: #555;
    font-size: 0.4rem;
}

footer a {
    text-decoration: none;
    color: #555;
}